<div class="container main">
  <%= render 'shared/messages' %>
  <h1><%= @user.username %></h1>
  <br />
  <br />
  <div class="row text-center">
    <div class="col-md-4">
      <%= image_tag 'bucket.png' %>
      <br />
      <br />
      <h2>Buckets</h2>
      <br />
      <h1><%= @buckets.count %></h1>
    </div>  
    <div class="col-md-4">
      <%= image_tag 'check.png' %>
      <br />
      <br />
      <h2>Completed</h2>
      <br />
      <h1><%= @completed_buckets.count %></h1>
    </div> 
    <div class="col-md-4">
      <%= image_tag 'pencil.png' %>
      <br />
      <br />
      <h2>Comments</h2>
      <br />
      <h1><%= @user.comments.count %></h1>
    </div> 
  </div>  
  <br />
  <h2>Bucket List</h2>
  <br />
  <% if @buckets.empty? %>
    <h4> No places yet. </h4>
  <% else %>  
     <% @buckets.each do |bucket| %>
       <div class="booyah-box">
         <h4><%= link_to bucket.place.name, place_path(bucket.place) %></h4>
       </div>  
     <% end %>
  <% end %>
 
  <br />
  <h2>Completed</h2>
  <br />
  <% if @completed_buckets.empty? %>
    <h4> No places yet. </h4>
  <% else %>  
     <% @completed_buckets.each do |bucket| %>
       <div class="booyah-box">
         <h4><%= link_to bucket.place.name, place_path(bucket.place) %></h4>
       </div>  
     <% end %>
  <% end %>
  
  <br />
  <h2>Comments</h2>
  <br />
  <% if @comments.empty? %>
    <h4> No places yet. </h4>
  <% else %>  
     <% @comments.each do |comment| %>
       <div class="booyah-box">
         <p><%= link_to comment.place.name, place_path(comment.place) %></p>
         <p><%= comment.rating %></p>
         <p><%= comment.message %></p>
       </div>  
     <% end %>
  <% end %>
</div>  