
  <div class="jumbotron">
    <h1 id="my-brand" class="text-center">Dream Places</h1>
  </div>
  <div class="container-fluid landing-page">
  <br />
  <br />
  <h3 id="info-header">What is on your bucket list?</h3>
  <br />
  <br />
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'stroujko-s.jpg' %>
    </div>
    <div class="col-md-4">
      <%= image_tag 'givaga-s.jpg' %>
    </div>
    <div class="col-md-4">
      <%= image_tag 'zephyr_p-s.jpg' %>
    </div>
  </div>
  <br />

  <div class="row info col-md-10 col-md-offset-1 text-center">
    <div class="col-md-4 info-section">
      <%= image_tag 'search.png' %>
      <br />
      <br />
      <h4>Find new places.</h4>
    </div>
    <div class="col-md-4 info-section">
      <%= image_tag 'bucket.png' %>
      <br />
      <br />
      <h4>Add them to your bucket list.</h4>
    </div>
    <div class="col-md-4 info-section">
      <%= image_tag 'pencil.png' %>
      <br />
      <br />
      <h4>Share your dreams.</h4>
    </div>
  </div>

<div class="col-md-8 col-md-offset-2">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'apinz_wide.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Masai Mara National Reserve, Kenya
      </div>
    </div>
    <div class="item">
      <%= image_tag 'eyetronic_wide.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        South Pacific
      </div>
    </div>
    <div class="item">
      <%= image_tag 'petr112_wide.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Kilchurn Castle, Scotland
      </div>
    </div>
    <div class="item">
      <%= image_tag 'f9photos_wide.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Teotihuacan Pyramids, Mexico
      </div>
    </div>
    <div class="item">
      <%= image_tag 'givaga_wide.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Venice, Italy
      </div>
    </div>
    <div class="item">
      <%= image_tag 'stroujko_wide.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Cinque Terre, Italy
      </div>
    </div>
    <div class="item">
      <%= image_tag 'zephyr_p_wide.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Bali, Indonesia
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
</div>
<section class="footer-container">
  <footer class="block">
    <div class="col-xs-12 col-sm-3">

    </div>
    <div class="col-xs-12 col-sm-3">
      <p>FAQ</p>
    </div>
    <div class="col-xs-12 col-sm-3">
      <p>About</p>
    </div>
    <div class="col-xs-12 col-sm-3">
      <p><a href="#" data-toggle="modal"
      data-target="#attributionModal">Attributions</a></p>
    </div>

  </footer>
</section>

<%= render partial: "statics/attribution" %>

