<div class="container-fluid landing-page">
  <div class="jumbotron">
    <h1 id="my-brand">Dream Places</h1>
  </div>  
  <br />
  <br />
  <h3 id="info-header">What is on your bucket list?</h3>
  <br />
  <br />
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'stroujko-s.jpg' %>
    </div>  
    <div class="col-md-4">
      <%= image_tag 'givaga-s.jpg' %>
    </div> 
    <div class="col-md-4">
      <%= image_tag 'zephyr_p-s.jpg' %>
    </div> 
  </div>  
  <br />
  <div class="row info col-md-10 col-md-offset-1 text-center">
    <div class="col-md-4">
      <%= image_tag 'search.png' %>
      <br />
      <br />
      <h4>Search or browse for new places.</h4>
    </div>  
    <div class="col-md-4">
      <%= image_tag 'bucket.png' %>
      <br />
      <br />
      <h4>Add them to your bucket list.</h4>
    </div> 
    <div class="col-md-4">
      <%= image_tag 'pencil.png' %>
      <br />
      <br />
      <h4>Achieve your goals and share them.</h4>
    </div> 
  </div>  

  <div class="row slideshow col-md-10 col-md-offset-1">
    <%= image_tag 'apinz.jpg', alt: 'Masai Mara National Reserve, Kenya' %>
    <div id="slideshow-caption"></div>
  </div>
  
  <section class="footer-container">
    <footer class="block">
      <div class="col-md-6">
        <p><a href="#" data-toggle="modal" 
        data-target="#attributionModal">Attributions</a></p>
      </div>  
      <div class="col-md-6">

      </div>  
    </footer>
  </section>
  
    <div class="modal fade" id="attributionModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title" id="myModalLabel">Attributions</h4>
          </div>
          <div class="modal-body">
            <h4>Photos</h4>
            <br />
            <p>Photos on landing page used under license from Fotolia.</p>
            <p>sky,mountains and landscape of Guilin &copy; zhu difeng</p>
            <p>Vernazza in Cinque Terre, Liguria, Italy, on sunset &copy; Boris Stroujko</p>
            <p>Venice in the evening &copy; Givaga</p>
            <p>Pura Ulun Danu Bratan at Bali, Indonesia &copy; zephyr_p</p>
            <p>Silhouette di giraffe &copy; apinz</p>
            <p>&copy; </p>
            <h4>Icons</h4>
            <p>bucket, pencil, search &copy;Sergei Kokota, CC by 2.5</p>
            <p>star icons &copy;Custom Icon Design, free for non-commercial use</p>
            <p>bucket delete &copy;Pawel Kadysz, free for non-commercial use</p>
            <p>check &copy;Nick Roach, GPL</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>  