<div class="container-fluid landing-page">
  <div class="jumbotron">
    <h1 id="my-brand">Dream Places</h1>
  </div>  
  <br />
  <br />
  <h3 id="info-header">What is on your bucket list?</h3>
  <br />
  <br />
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'stroujko-s.jpg' %>
    </div>  
    <div class="col-md-4">
      <%= image_tag 'givaga-s.jpg' %>
    </div> 
    <div class="col-md-4">
      <%= image_tag 'zephyr_p-s.jpg' %>
    </div> 
  </div>  
  <br />
  
  <div class="row info col-md-10 col-md-offset-1 text-center">
    <div class="col-md-4 info-section">
      <%= image_tag 'search.png' %>
      <br />
      <br />
      <h4>Find new places.</h4>
    </div>  
    <div class="col-md-4 info-section">
      <%= image_tag 'bucket.png' %>
      <br />
      <br />
      <h4>Add them to your bucket list.</h4>
    </div> 
    <div class="col-md-4 info-section">
      <%= image_tag 'pencil.png' %>
      <br />
      <br />
      <h4>Share your dreams.</h4>
    </div> 
  </div>  

<div class="col-md-8 col-md-offset-2">    
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'apinz_wide.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Masai Mara National Reserve, Kenya
      </div>
    </div>
    <div class="item">
      <%= image_tag 'eyetronic_wide.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        South Pacific
      </div>
    </div>
    <div class="item">
      <%= image_tag 'petr112_wide.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Kilchurn Castle, Scotland
      </div>
    </div>
    <div class="item">
      <%= image_tag 'f9photos_wide.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Teotihuacan Pyramids, Mexico
      </div>
    </div>
    <div class="item">
      <%= image_tag 'givaga_wide.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Venice, Italy
      </div>
    </div>
    <div class="item">
      <%= image_tag 'stroujko_wide.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Cinque Terre, Italy
      </div>
    </div>
    <div class="item">
      <%= image_tag 'zephyr_p_wide.jpg', class: 'img-responsive' %>
      <div class="carousel-caption">
        Bali, Indonesia
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>  
</div>  
  
<section class="footer-container">
  <footer class="block">
    <div class="col-md-6">
      <p><a href="#" data-toggle="modal" 
      data-target="#attributionModal">Attributions</a></p>
    </div>  
    <div class="col-md-6">

    </div>  
  </footer>
</section>
  
    <div class="modal fade" id="attributionModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title" id="myModalLabel">Attributions</h4>
          </div>
          <div class="modal-body">
            <h4>Photos</h4>
            <br />
            <p>Photos on landing page used under license from Fotolia.</p>
            <p>sky,mountains and landscape of Guilin &copy; zhu difeng</p>
            <p>Vernazza in Cinque Terre, Liguria, Italy, on sunset &copy; Boris Stroujko</p>
            <p>Venice in the evening &copy; Givaga</p>
            <p>Pura Ulun Danu Bratan at Bali, Indonesia &copy; zephyr_p</p>
            <p>Silhouette di giraffe &copy; apinz</p>
            <p>Romantischer Sonnenuntergang in der Südsee &copy; eyetronic</p>
            <p>Kilchurn castle,Scotland &copy; petr112</p>
            <p>Panorama of Teotihuacan Pyramids &copy; f9photos</p>
            <h4>Icons</h4>
            <p>bucket, pencil, search, trash &copy;Sergei Kokota, CC by 2.5</p>
            <p>star icons &copy;Custom Icon Design, free for non-commercial use</p>
            <p>bucket delete &copy;Pawel Kadysz, free for non-commercial use</p>
            <p>check &copy;Nick Roach, GPL</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>  