<div class="container main">
  <%= render 'shared/messages' %>
  <div class="col-md-10 col-md-offset-1">
    <h3>Hello <%= @user.username %></h3>
    <br />
   <div class="row dashboard-info text-center">
    <div class="col-md-4">
      <%= image_tag 'search.png' %>
      <br />
      <br />
      <h4>Search or browse for new places.</h4>
    </div>  
    <div class="col-md-4">
      <%= image_tag 'bucket.png' %>
      <br />
      <br />
      <h4>Add them to your bucket list.</h4>
    </div> 
    <div class="col-md-4">
      <%= image_tag 'pencil.png' %>
      <br />
      <br />
      <h4>Achieve your goals and share them.</h4>
    </div> 
  </div>  
    <br />

    <h3>Privacy</h3>
    <div class="booyah-box">
      <h4>Change profile privacy settings</h4>
      <br />
      <% if @user.public_profile? %>
        <h5>Your profile is public</h5>
      <% else %>
        <h5>Your profile is private</h5>
      <% end %>
      
      <br />
      <%= simple_form_for @user do |f| %>
        <%= f.collection_radio_buttons :public_profile, [[true, 'Public'] ,[false, 'Private']], :first, :last %>
        <br />
        <br />
        <%= f.button :submit, class: 'button-opposite' %>
      <% end %>
    </div>  
    
    <h3>Notifications</h3>
    
    <div class="booyah-box">
      <h4>Change comment notification settings</h4>
      <br />
      <% if @user.notify_on_comment? %>
        <h5>An email will be sent to you if someone comments on a place you created.</h5>
      <% else %>
        <h5>An email will be NOT sent to you if someone comments on a place you created.</h5>
      <% end %>

      <br />
      <%= simple_form_for @user do |f| %>
        <%= f.collection_radio_buttons :notify_on_comment, [[true, 'Yes, send me an email'] ,[false, 'No, do not email me']], :first, :last %>
        <br />
        <br />
        <%= f.button :submit, class: 'button-opposite' %>
      <% end %>
    </div>  
  
    <h3>Photos</h3>
    <br />
    <div class="booyah-box">
      <% @user.photos.each do |photo| %>
        <%= link_to image_tag(photo.image_url, :width=>240, :height=>240, :crop=>"fill"), photo_path(photo) if photo.image? %>
        <br />
        <h4 class='photo-caption'><%= photo.caption if photo.caption? %></h4>
        <p><%= link_to image_tag('trash.png', width: '30'), photo_path(photo), method: :delete, 
          data: {confirm: 'This will remove the photo from this website completely. Are you sure?'} %>Remove</p> 
      <% end %> 
    </div>  
  </div>    
</div>  

  