<div class="container main">
  <%= render 'shared/messages' %>
  <div class="booyah-box col-md-10 col-md-offset-1">
    <div class="col-md-7">
    <%= image_tag(@photo.image_url, :width=>600) if @photo.image? %>
    <br /> 
    <br />   
    <% if current_user %> 
      <% if current_user == @photo.user || current_user.admin? %>  
        <p><%= link_to image_tag('trash.png', width: '30'), photo_path(@photo), method: :delete, 
          data: {confirm: 'This will remove the photo from this website completely. Are you sure?'} %> Remove </p> 
      <% end %>
    <% end %>    
    </div>  
    <div class="col-md-3">
      <h3><%= link_to @photo.place.name, place_path(@photo) %></h3>
      <br />
      <h4><%= @photo.caption if @photo.caption? %></h4>
      <br />
      <h4><%= @photo.owner if @photo.owner? %></h4>
      <p><%= @photo.copyright if @photo.copyright? %></p>
    </div>  
  </div>
</div>  
