<div class="container main">
  <%= render 'shared/messages' %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">

  <%= image_tag(@photo.image_url, :width=>600) if @photo.image? %>
  <br />
  <%= @photo.caption if @photo.caption? %>
  <%= @photo.owner if @photo.owner? %>
  <%= @photo.copyright if @photo.copyright? %>
  <br />  
  <% if current_user %> 
    <% if current_user == @photo.user || current_user.admin? %>  
      <%= link_to image_tag('trash.png', width: '30'), photo_path(@photo), method: :delete, 
        data: {confirm: 'This will remove the photo from this website completely. Are you sure?'} %> 
    <% end %>
  <% end %>  
  </div>
</div>  
