<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Enter Your Place Details</h1>
  <br />
  <%= simple_form_for @place do |f| %>
    <h3>Name: <%= @place.name %></h3>
    <h3>Address: <%= @place.address %></h3>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>