<div class="container main">
  <%= render 'shared/messages' %>   
  <% @places.each do |place| %>
    <div class="booyah-box col-md-10 col-md-offset-1">
      <div class="col-md-2 thumbnail-index">
       <% if place.photos.any? %>
        <%= image_tag(place.photos.first.image_url, :width=>'150', :height=>'150', :crop=>"fill") %>
      <% else %>  
        <%= image_tag('nasa.jpg', :width=>'150', :height=>'150') %>
      <% end %>  
      </div>  
      <div class="col-md-8" style="margin-left:30px;">
      <h2><%= link_to place.name, place_path(place) %></h2><br />
      <p><%= place.address %></p><br />
      <p><%= place.description %></p><br />
      </div>  
    </div>

    <hr />
  <% end %>

  <%= will_paginate @places, previous_label: h("<"), next_label: h(">") %>
</div> 


