<div class="container main">
  <%= render 'shared/messages' %>   
  <% @places.each do |place| %>
    <div class="booyah-box col-md-10 col-md-offset-1">
      <div class="col-md-3 thumbnail-index">
       <% if place.photos.any? %>
        <%= image_tag(place.photos.first.image_url, :width=>'200', :height=>'200', :crop=>"fill") %>
      <% else %>  
        <%= image_tag('nasa.jpg', :width=>'200', :height=>'200') %>
      <% end %>  
      </div>  
      <div class="col-md-7" style="margin-left:30px;">
      <h2><%= link_to place.name, place_path(place) %></h2>
      <p><%= place.address %></p>
      <p><%= place.description %></p>
      <p>
        <% if place.avg_rating %>
          <% place.avg_rating.to_i.times do %>
            <%= image_tag('star-full.png') %>
          <% end %>
          <% if place.avg_rating % 1 > 0.2 && place.avg_rating % 1 < 0.8 %>
            <%= image_tag('star-half.png') %>
          <% end %>
        <% end %>   
      </p>  
      <br />  
      <% if place.categories.any? %>
        <p>
          <% place.categories.each do |category| %>
            <span class="category"><%= category.name %></span>
          <% end %>
        </p>  
      <% end %>  
      </div>  
    </div>

    <hr />
  <% end %>

  <%= will_paginate @places, previous_label: h("<"), next_label: h(">") %>
</div> 


