<div class="container main">
  <h3>Search Results</h3>
  <br />
  <h4>Didn't find what you were looking for?</h4> 
  <br />
  
  <% if user_signed_in? %>
     <!-- Place Create Modal -->
     <%= render partial: "places/form_create" %>

    <!-- Place create button trigger modal -->
    <button class="btn button-opposite pull-left" data-toggle="modal" data-target="#placeModal">
      Add a place
    </button>
  
  <div class="clear"></div>
  <% else %>
    <h4><%= link_to 'Sign in', new_user_session_path %> to add a place</h4>
    <br />
  <% end %>
  
  <% if false %>    
    <% if !(user_signed_in?) %>
      <!-- Sign in Modal -->
      <%= render partial: "devise/sessions/sign_in" %>
       <!-- Sign in button trigger modal -->
      <button class="btn button-opposite pull-left" data-toggle="modal" data-target="#sessionModal">
        Sign In
      </button>
      <div class="clear"></div>
    <% end %>
  <% end %>
  

  <br />
  <br />
  <br />
  <% @results.each do |result| %>
    <h4><%= link_to result.name, place_path(result) %></h4>
    <p><%= result.address %></p>
    <br />
    <% if current_user && current_user.admin %>
      <p class="warn"><%= link_to "Delete Place", admin_place_path(result), method: :delete, data: { confirm: "Are you certain you want to delete #{result.name}" } %></p>
    <% end %>  
  <% end %>
</div>


