<div class="container main">
  <%= render 'shared/messages' %>
  <div class="row booyah-box">

    <div class="col-md-4">  
      <h1><%= @place.name %></h1>
      <br />  
      <i><%= @place.address %></i>
      <br/>
      <br/>
      <h3>
      <% if @place.avg_rating %>
        <% @place.avg_rating.to_i.times do %>
          <%= image_tag('star-full.png') %>
        <% end %>
        <% if @place.avg_rating % 1 > 0.2 && @place.avg_rating % 1 < 0.8 %>
          <%= image_tag('star-half.png') %>
        <% end %>
      <% end %>
      </h3>
      <br />
      <p><%= @place.description %></p>

      <div class="pull-left">
        <% if current_user %> 
          <% if current_user == @place.user || current_user.admin? %>  
            <%= link_to 'Edit Description', edit_place_path(@place) %>
          <% end %>
        <% end %>
      </div>  
    </div>  
    
     <!-- Button trigger modal --> 
    <div class="btn-group">
      <button class="btn pull-right button-opposite" data-toggle="modal" data-target="#photoModal">
        Add a photo
      </button>
      <button class="btn pull-right button-opposite" data-toggle="modal" data-target="#commentModal">
        Add a comment
      </button>
    </div>
    <div class="pull-right">
      <% if current_user %>
        <% if !(current_user.buckets.map(&:place).include?(@place)) %>
          <%= link_to '+ Bucket List', bucketlist_path(place_id: @place), method: :post, class: 'btn button-opposite' %>
        <% end %>
      <% else %>
        <h4><%= link_to 'Sign in', new_user_session_path %> to comment</h4>
      <% end %>
    </div>  
    <br />  
    <br /> 
    <br />     
    <%= render partial: "places/map" %>
    <br /> 
    <br /> 
  </div>  

  <% if @place.photos.any? %>
    <div class="row place-photos">
      <% @place.photos.last_three_photos(@place).each do |photo| %>
        <div class="col-md-4"> 
          <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <%= link_to image_tag(photo.image_url, :width=>320, :height=>300, :crop=>"fill"), photo_path(photo) if photo.image? %>
              <div class="carousel-caption">
                <%= photo.caption if photo.caption? %>
              </div>
            </div>
          </div>
         </div>
        </div>  
       <% end %>
      </div>
    <br />
  <h4><%= link_to 'See All Photos', galleries_path(place_id: @place.id) %></h4>
  <% end %>
  
  <div class="clear"></div>

  <% if current_user %>
    <!-- Photo Create Modal -->
     <%= render partial: "photos/form_create" %>
  <% end %>

  <% if current_user %>
    <!-- Comment Create Modal -->
    <%= render partial: "comments/form_create" %>
  <% end %>

  <div class="clear"></div>

  <br />
  <br />
  <br />

  <h3>Comments</h3>
  <% if @place.comments.empty? %>
    <br />
    <p>Be the first to comment.</p>
  <% end %>
  <% @place.comments.each do |comment| %>
    <blockquote>
      <h4>
      <% if comment.rating %>
        <% comment.rating.to_i.times do %>
          <%= image_tag('star-full.png') %>
        <% end %>
      <% end %>
      </h4>  
      <br />
      <p><%= comment.message %></p>
      <br />
      <small><%= link_to comment.user.username, user_path(comment.user) %></small>
    </blockquote> 
    <% if current_user %>
      <% if current_user == comment.user || current_user.admin? %>
        <!-- Comment Update Modal -->
        <%= render partial: "comments/form_update", locals: {comment: comment} %>         
        <br />
      <% end %>
    <% end %>
  <% end %>
</div>  




